---
cluster.name: ${CLUSTER_NAME}

node.name: ${NODE_NAME}
node.master: ${NODE_MASTER}
node.data: ${NODE_DATA}
node.local: ${NODE_LOCAL}
node.ingest: ${NODE_INGEST}

path.data: ${PATH_DATA}
path.logs: ${PATH_DATA}/logs

bootstrap.memory_lock: true

gateway.expected_master_nodes: ${GATEWAY_EXPECTED_MASTER_NODES}
gateway.expected_data_nodes: ${GATEWAY_EXPECTED_DATA_NODES}

network.host: 0.0.0.0

http.enabled: ${HTTP_ENABLE}
http.compression: true
http.bind_host: ${HTTP_BIND_HOST}

cloud.kubernetes.service: ${KUBERNETES_SERVICE}
cloud.kubernetes.namespace: ${KUBERNETES_NAMESPACE}
discovery.zen.hosts_provider: ${DISCOVERY_TYPE}
discovery.zen.fd.ping_interval: ${DISCOVERY_ZEN_FD_PING_INTERVAL}
discovery.zen.fd.ping_timeout: ${DISCOVERY_ZEN_FD_PING_TIMEOUT}
discovery.zen.fd.ping_retries: ${DISCOVERY_ZEN_FD_PING_RETRIES}
discovery.zen.publish_timeout: ${DISCOVERY_ZEN_PUBLISH_TIMEOUT}
discovery.zen.minimum_master_nodes: ${DISCOVERY_ZEN_MINIMUM_MASTER_NODES}

searchguard.ssl.transport.enabled: ${ENABLE_TRANSPORT_SSL}
searchguard.ssl.transport.keystore_filepath: certs/keystore.jks
searchguard.ssl.transport.keystore_alias: cert
searchguard.ssl.transport.resolve_hostname: false

searchguard.ssl.transport.truststore_filepath: certs/truststore.jks
searchguard.ssl.transport.truststore_alias: ca

thread_pool.bulk.queue_size: ${THREAD_POOL_BULK_QUEUE_SIZE}
indices.memory.index_buffer_size: ${INDEX_BUFFER_SIZE}

# searchguard.ssl.http.keystore_filepath: certs/keystore.jks
# searchguard.ssl.http.keystore_alias: cert
# searchguard.ssl.http.truststore_filepath: certs/truststore.jks
# searchguard.ssl.http.truststore_alias: ca

xpack.security.enabled: ${XPACK_SECURITY_ENABLE}
xpack.security.transport.ssl.enabled: ${XPACK_SECURITY_TRANSPORT_SSL_ENABLE}
xpack.security.http.ssl.enabled: ${XPACK_SECURITY_HTTP_SSL_ENABLE}
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.audit.enabled: ${XPACK_SECURITY_AUDIT_ENABLE}
xpack.security.audit.outputs: ${XPACK_SECURITY_AUDIT_OUTPUTS}
xpack.ssl.key: ${XPACK_SSL_KEY_PATH}
xpack.ssl.certificate: ${XPACK_SSL_CERT_PATH}
xpack.ssl.certificate_authorities: [ "${XPACK_SSL_CA_CERT_PATH}" ]
xpack.monitoring.enabled: ${XPACK_MONITORING_ENABLE}
xpack.ml.enabled: ${XPACK_ML_ENABLE}
xpack.watcher.enabled: ${XPACK_WATCHER_ENABLE}

# Email setup for Watcher alerts

xpack.notification.email.account:
    ses_account:
        smtp:
            auth: ${XPACK_SES_AUTH_ENABLE}
            starttls.enable: true
            starttls.required: true
            host: ${XPACK_SES_HOST}
            port: ${XPACK_SES_PORT}
            user: ${XPACK_SES_USER}
            password: ${XPACK_SES_PASSWORD}
